@inherits System.Web.Mvc.WebViewPage

@{
	ViewBag.Title = Resources.ChangePassword;
}

@section HeadArea {
	<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdSelector", "Resource")" />
	<link rel="Stylesheet" type="text/css" href="@Url.Action("OpenIdAjaxTextBox", "Resource")" />
}

<h2>@Resources.ChangePassword</h2>
<p>
	@Resources.PasswordSuccess
</p>
