<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth" version="3.4.6.10357" />
  <package id="elmah" version="1.1" />
  <package id="OpenSearchToolkit" version="1.1" />
  <package id="jQuery" version="1.5.2" />
  <package id="jQuery.vsdoc" version="1.5.2" />
  <package id="jQuery.Validation" version="1.8" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="Modernizr" version="1.7" />
  <package id="MvcHtml5Templates" version="0.5.0.0" />
  <package id="jquery.mobile" version="0.4.1" />
  <package id="51Degrees.mobi" version="1.0.2.2" />
  <package id="PagedList" version="1.2.1.0" />
  <package id="YepNope.js" version="1.0.1" />
  <package id="EntityFramework" version="4.1.10331.0" />
</packages>