@{
	ViewBag.Title = Resources.Deleted;
}

 <h2>@Resources.DinnerDeleted</h2>

<div>
	<p>@Resources.YourDinnerDeleted</p>
</div>
	
<div>
	<p><a href="@Url.Content("~/dinners")">@Resources.ClickForUpcomingDinner</a></p>
</div>